.list-category {
  font-size: 2.5em;
  font-weight: bold;
  color: rgb(207, 21, 21);
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  border-color: bisque;

  background-color: rgb(175, 175, 245);
}

.list-items li {
  font-size: 2em;
  list-style: none;
  color: rgb(44, 39, 39);
  text-align: center;
  margin: 0;
}

.list-items li:hover {
    color: rgb(121, 185, 240);
    cursor: pointer;
}


